
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url('background.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
    align-items: center;
}

header {
    background-color: #02346a;
    color: #fff;
    padding: 10px ;
}

nav {
    max-width: 5000;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    height: 50px;

}

.logo {
    margin-left: 80px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: none;
    
}

ul {
    list-style: none;
    display:flex;
}

li {
    margin-right: 20px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center; 
   
   
}
.Introduction{ 
    align-items: center;
    font-size: 20px; 
    text-align: center;
}

.Titlehead{
    font-size: 600;
    font-family: sans-serif ;
    text-align: center;
    justify-content: space-between}


.feature-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    border: #3498db;
    
}

.feature-box {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    border-color: #02346a;}

.feature-box p {
    font-size: 16px;
}
.feature-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
    padding: 40px;

}


.section-heading {
    text-align: center;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

.flowchart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    padding-right: 20px; 
     
}

.box {
    text-align: center;
    padding: 35px;
    margin: 10px 0;
    border: 5px solid #3498db; 
    border-radius: 10px; 
    position: relative;
    
}

h2, p {
    margin: 0;
}
.image-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px;
   

}

img {
    max-width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 100%; 
    border-radius: 20px;
}

.footer-container {
    background-color: #0a126b; 
    color: white; 
    padding: 20px;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto; 
}




.about-us-slide {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
    text-align: center;
    

}


.contact-container{
    align-items: center
    justify-content: center;
}


.contact-container iframe {
    width: 1200px;
    height: 500px;
    border: none;
    padding: 20px;
    margin-top: 20px;
    margin-left: 50px;
}

.contact-info{
   display: flex;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
    max-width: 600px;
    margin: 0;
    border: 1px solid #007acc;
   
    text-align: center;
 }

.contact-container form {
    background-color: #fff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
    max-width: 600px;
    margin: 0;
    justify-content: center;
    
   
}

.contact-container h1 {
    color: #091361;
    font-size: xx-large;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #007acc; 
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #007acc; 
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #007acc; 
    color: #fff; 
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #005f8c; 
}
.associations h1{
    color: #091361;
    font-size: xx-large;
    text-align: center;
    justify-content: center;
}
.image-container2 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 500px; 
 
}


.image-container2 img {
    max-width: 1200px; 
    max-height: 500px;
    border: solid 2px rgb(59, 135, 223); 
}







